<div class="col-md-6 offset-md-4" id="customer-detail">
  <%= form_tag(customers_results_path, method: 'get', id: "search-form") do %>
  <%= search_field_tag :query, params[:query], placeholder: "Search Customer" %>
  <%= submit_tag "Search" %>
  <% end %>

  <% @customers.each do |customer| %>
  <p id="full_name1"> Customer:
    <%= link_to customer.full_name, customer_path(customer.id) %>
  </p>
  <% end %>
</div>
