<div id="main">
  <div class="left">
    <h1 id='welcome'>Welome to <br>Clients<br> Record </h1>
  </div>
  <div class="right">
    <div id="data" style="display: none"></div>
    <div id="weather"></div>
    <div id="temperature"></div>
    <div id="icon"></div>
  </div>
</div>
