<div id="main">
  <div class="left">
    <h1 id='welcome'>Clients Record</h1>
  </div>
  <div class="right">
    <div id="data" style="display: none"></div>
    <div id="weather"></div>
    <div id="temperature"></div>
    <!-- <div id="icon"></div> -->
  </div>
</div>
<div id="homepage">
<p>Carry your client notes wherever you go.</p>

<p>Ever wanted to record notes securely and conveniently just after interacting with clients while you’re out and about? With this simple application you can:</p>

<p>Create a client list with their details</p>
<p>Record notes to individual clients</p>
<p>Streamline your client details and notes into a simple flow
<p>View past notes</p>
</div>
