body{
max-width: 800px;
margin: 0 auto;
background-color: lightblue;
font-family: 'Inconsolata', monospace;
font-size: 26px;
}

div, .robi {
  color: white!important;
}

.nav a {
 color: white;
 margin:auto;
 margin-top: 20px;
 margin-bottom: 30px;
 font-size: 21px;

  }
 .container{
   color: white;
 }

.login-box {
  // background-color: white;
  // color: black!important;
  padding: 1em;
  border-radius: 1em;
}
#pro{
  color: white;
}
#show{
  color: white;
}
.r{
  color: white;
}
.robic{
  color: white;
  margin: 0px 0px 0px 165px;
}
.click{
  font-size: 60px;
  color: red;
  text-align: center;
  font-family: 'Secular One', sans-serif;
}
